// place your custom styles here

@import url('//yuorb.github.io/assets/fonts/iosevka-term-slab-unhinted.css');
@import url('//yuorb.github.io/assets/fonts/iosevka-etoile-unhinted.css');

@import 'https://cdn.jsdelivr.net/npm/lxgw-wenkai-tc-webfont@1.2.0/style.css';

// @import url('https://google-fonts.mirrors.sjtug.sjtu.edu.cn/css2?family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.font.im/css2?family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://fonts.lpsub.com/css/sarasa-gothic-sc.css");

// @import url('https://google-fonts.mirrors.sjtug.sjtu.edu.cn/css2?family=Ysabeau:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.font.im/css2?family=Ysabeau:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

// @import url('https://google-fonts.mirrors.sjtug.sjtu.edu.cn/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.font.im/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// @import url('https://google-fonts.mirrors.sjtug.sjtu.edu.cn/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.font.im/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

// @import url('https://google-fonts.mirrors.sjtug.sjtu.edu.cn/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.font.im/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// @import url('https://google-fonts.mirrors.sjtug.sjtu.edu.cn/css2?family=Noto+Sans+SC:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.font.im/css2?family=Noto+Sans+SC:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// canIPA字体

@font-face {
    font-family: 'Sophonetica';
    src: url('https://cdn.jsdelivr.net/gh/giancarloantonucci/Sophonetica/sophonetica.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/giancarloantonucci/Sophonetica/sophonetica.woff') format('woff');;
    font-weight: normal;
    font-style: normal;
    unicode-range: U+E000-F8FF;
}

@font-face {
    font-family: JuniusVF;
    src: url('https://psb1558.github.io/Junicode-font/webfiles/JunicodeVF-Roman.woff2');
    font-weight: 300 700;
    font-stretch: 75% 125%;
    font-style: normal;
  }

@font-face {
    font-family: JuniusVF;
    src: url('https://psb1558.github.io/Junicode-font/webfiles/JunicodeVF-Italic.woff2');
    font-weight: 300 700;
    font-stretch: 75% 125%;
    font-style: italic;
}

bdi {
    font-family: Sophonetica, JuniusVF, serif!important;
    margin: 0% 1%;
    font-size: larger;
    color: var(--important-title-color);
    cursor: pointer;
}

.vue-custom-tooltip {
	--vue-custom-tooltip-background: var(--theme-color);
	background: var(--theme-color);
	color: white;
	padding: 2px 8px;
	border-radius: 8px;
	margin: 2px 2px;
}
