// you can change colors here
$theme-color: #096dd9;
$font-family-heading: '"Inter Tight", var(--font-family)';
$font-family: '"Fira Sans", "Noto Sans", var(--cjkfonts), sans-serif';
$font-family-mono: 'var(--cjkfonts), monospace';
